@import "../../node_modules/sass-rem/rem";
@import "./normalize";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* -- Variables -- */

/* Colores */
$primario: #00a887;
$blanco: #ffffff;
$secundario: #012f3a;
$gris-claro1: #f6f6f6;
$gris-claro2: #eaeaea;
$azul: #0a169a;
$amarillo: #f4cf00;
$primario-light: #70d9c4;
$negro: #000000;

/* Dev var como placeholder */
@mixin placehold {
  background-color: grey;
}
/* Fuentes */
$fuente-principal: "Roboto", sans-serif;

/* -- Herramientas -- */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Reglas Generales -- */

/* Reset */
html {
  font-family: $fuente-principal;
  font-size: rem(18px);
  font-weight: 700;
  * {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
  }
}

/* Globales */

img {
  width: 100%;
  height: auto;
}

.social-icon {
  width: rem(22px);
  height: rem(22px);
}

/* Navbar */

body {
  background-color: $gris-claro2;
}

header {
  background-color: $blanco;
  color: $primario;
  nav {
    font-weight: 600;
    color: $primario;
    font-size: rem(13px);
    .navbar-brand {
      font-size: rem(20px);
      font-weight: 900;
      color: $primario;
    }
    ul {
      li {
        margin-right: rem(40px);
        flex-wrap: nowrap;
        @include flex-center();
        &:last-of-type {
          margin-right: rem(0px);
        }
        a {
          color: $secundario;
          padding: rem(0px);
          span {
            color: $primario;
          }
          &:hover {
            color: $primario;
          }
        }
        .btn {
          border: rem(2px solid $primario);
          font-weight: 600;
          height: 100%;
          &:hover {
            background-color: $primario;
          }
          img {
            margin-left: rem(5px);
          }
        }
      }
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 168, 135, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .custom-toggler.navbar-toggler {
        border-color: $primario;
    } 
  }
}
@media only screen and(max-width: 992px){
    li.nav-item{
        margin-right: rem(0px);
    }
}
